@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.tag{
    border: solid;
}
div{
    padding: 10px;
}

header{
    grid-area: cabecalho;
    background: linear-gradient(to right,rgb(179, 166, 171),rgb(219, 219, 238));
    color:white;

    display: flex;
    justify-content: center;
    align-items: center; 
    
}
nav{
    grid-area: navegacao;
}

main{
    grid-area: conteudo;
}

footer{
    grid-area: rodape;
}

.perfprof{
  grid-area: perfprof;
}

.resquali{
  grid-area: resquali;
}

.formaca{
grid-area: formaca;
display: flex;
flex-direction: row;


}

.certifi{
  grid-area: certifi;
}

.formcom{
  grid-area: formcom;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

/*Conteudo Educação - Inicio*/

.conteudo-educacao{
  background-color: white;
  width: 400px;
  height: 200px;
  font-size: 14px;
  margin: 10px;

}

.periodo{
  background-color: #0487CC;
  text-align: center;
  color: white;
  width: 150px;
}

.li-especialidade{
  list-style:none; 
 }

/*Conteudo Educação - Fim*/


body {
    /*background-color: #474e5d;*/
    background: linear-gradient(to right,rgb(179, 166, 171),rgb(219, 219, 238));
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        'cabecalho cabecalho cabecalho cabecalho'
        'perfprof resquali resquali resquali'
        'conteudo conteudo conteudo conteudo'
        'formaca formaca formcom formcom';
    font-family:sans-serif;
}

#nome_p{
    display: none;
}

@media(max-width: 700px){
    body{
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    grid-template-areas: 
    'cabecalho'
    'perfprof'
    'resquali'
    'conteudo'
    'formaca'
    'certifi'
    'formcom'
    ;
    }
    #nome_g{
        display: none;
    }
    #nome_p{
        display: block;
    }
    .formaca{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .formcom{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .conteudo-educacao{
      width: 250px;
      height: 200px;
    }
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -12px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 33px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 12px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }


